doctype html
html
  head
    title Archi's Dance Academy 
    block scripts
    block style
  body
      nav#navbar
        ul 
            div#logo   
                img(src="/static/logo.png")
                | ADA
            li #[a(href='/') Home ]
            li #[a(href='/about') About Us ]
            li #[a(href='/services') Services ]
            li #[a(href='/info') Class Information ]
            li #[a(href='/contact') Contact Us ]
      block content
      footer#footer 
        | CopyRight @ ArchiDanceAcademy.com | All Rights Reserved